@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.contactsBlock {
  padding: 100px 0;

  .container {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .form {
      @include flex(column, flex-start, stretch, nowrap);
      width: 540px;
      margin-top: 60px;
      @media screen and (max-width: 680px) {
        width: 100%;
      }

      .formArea,
      .messageArea {
        background: $bgSecondColor;
        border: 1px solid #4a4a4a;
        box-sizing: border-box;
        @include text(inherit, 12px, 1.5, 400);
        outline: none;
        color: #495057;
        margin-bottom: 1.2rem;

        &:-webkit-autofill {
          border: 1px solid #4a4a4a;
          -webkit-text-fill-color: #495057;
          -webkit-box-shadow: 0 0 0 1000px #252527 inset;
          transition: background-color 5000s ease-in-out 0s;

          &:focus {
            border: 2px solid $bgSecondColor;
          }
        }
      }

      .formArea {
        height: calc(1.5em + .75rem + 2px);
        padding: .4rem 15px;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .messageArea {
        min-height: 160px;
        padding: 15px;
        resize: none;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .button {
        font-size: 15px;
        background-color: grey;
        color: #fff;
        text-decoration: none;
        user-select: none;
        padding: .7em 1.5em;
        outline: none;
      }

      a.button:hover {
        background: rgb(232, 95, 76);
      }

      a.button:active {
        background: rgb(152, 15, 0);
      }
    }
  }
}