@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &:after {
        display: block;
        width:100%;
        content: '';
        border-bottom: 3px solid #000;
        top:50%;
        left: 110px;
        background-color: $textColor;
    }
}

@media (max-width: 576px) {
    .container {
        justify-content: center;
    }
}

h1 {
    margin-bottom: 43px;
    font-size: 72px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 29px;
    position: relative;
    text-transform: uppercase;
    left: -5px;
    @media (max-width: 576px) {
        justify-content: center;
        font-size: 45px;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 200px;
        height: 10px;
        background-color: $textColor;
    }
}

h3 {
    padding: 0;
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 1.47;
    font-family: Jost;
    color: #0e090d;
    font-size: 30px;
}

p {
    @include text($textFontFamily, 22px, 1.37, 400);
    letter-spacing: 0;
    word-break: break-word;
}

span {
    @include text($textFontFamily, 24px, 1.37, 600);
}

.button {
    position: relative;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    padding: 20px 40px;
    text-transform: uppercase;
    line-height: 26px;
    background-color: $primaryColor;
    color: $bgColor; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    outline: none; /* убирать контур в Mozilla */
    border: 2px solid #0e090d;
    z-index: 1;
    margin-bottom: 8px;
    margin-top: 8px;
}

a.button:hover {
    background: $bgColor;
    color: $primaryColor;
    border-color: $primaryColor
}

a.button:active {
    background: $bgColor;
    color: $primaryColor;
    border-color: $primaryColor
}
