* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .container {
        justify-content: center;
    }
}

h1 {
    margin-bottom: 43px;
    font-size: 72px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 29px;
    position: relative;
    text-transform: uppercase;
    left: -5px;
}

h3 {
    padding: 0;
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 1.47;
    font-family: Jost;
    color: #0e090d;
    font-size: 30px;
}

