.worksBlock {
    background-color: white;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    margin-bottom: 43px;
    margin-top: 30px;
}

.title h2 {
    font-family: 'Jost';
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 29px;
    position: relative;
    text-transform: uppercase;
    left: -5px;
    color: #0e090d;
}

.title h2:after {
    margin-left: 100px;
}

.title h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 200px;
    height: 10px;
    background-color: #000;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1129px) {
    .works {
        justify-content: center;
    }
}