.worksBlock {
    min-height: 100vh;
    background-color: #ffc5d8;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eeeef5;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .works {
        justify-content: center;
    }
}