.skillsBlock {
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 80px;
        .skills {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 900px) {
                justify-content: center;
            }
            }
    }
}




