@import 'src/common/styles/sass/variables';

.mainBlock {
  height: 100vh;
  background-color: $bgColor;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;

  .lefSide {
    width: 50%;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      justify-content: center;
    }
  }

    .rightSide {
      position: relative;
      width: 45%;
      height: 80%; /* Размеры */
      background: $bgColor; /* Цвет фона */
      outline: 10px solid $textColor; /* Чёрная рамка */
      border: 5px solid $bgColor; /* Белая рамка */
      border-radius: 0px; /* Радиус скругления */
      margin-right: 20px;
      z-index: 1;
      flex-wrap: wrap;
      @media (max-width: 1200px) {
        justify-content: center;
        width: 100%;
        height: 40%;
      }
      .photo {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 80% auto;
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/im.jpg');
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
        background-color: $bgColor;
        @media (max-width: 1200px) {
          background-size: 40% auto;
        }
      }
      .rectangle {
        position: absolute;
        z-index: -1;
        background: $primaryColor;
        width: 120%;
        height: 90%;
        opacity: 0.99;
        float: right;
        left: 50%;
        margin-left: -340px;
        margin-top: 5%;
      }
    }
  }




