@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.nav {
    width: 500px;
    grid-template-columns: repeat(auto-fit, 75px);
    z-index: 2;
    grid-gap: 20px;
    display: grid;
    justify-content: space-between;
    @include text($titleFontFamily, 18px, 1.47, 600);
    text-transform: uppercase;
    @media (max-width: 576px) {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 15px;
    }
    a {
        text-decoration: none;
    }
}