.FooterBlock {
    background-color: indianred;
}

.FooterContainer {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.title {
    background-color: #eeeef5;
}

.socialNetworks {
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .socialNetworks {
        flex-direction: row;
        width: 100%;
    }
}