.FooterBlock {

  .FooterContainer {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    @media (max-width: 640px) {
      width: 60%;
    }

    .socialNetworks {
      width: 60%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 900px) {
        flex-direction: row;
        width: 100%;
        justify-content: center;
      }
    }
  }
}


