.FooterBlock {

  .FooterContainer {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 100%;

    .socialNetworks {
      width: 60%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 576px) {
        flex-direction: row;
        width: 100%;
      }
    }
  }
}


